html {
  background-color: white;
  
}
body{
  background-color:#E6E6E6;
  margin:10px;
  border-radius: 0.7%;
}
#main {
    font-family:tahoma;
  }
#title {
  text-align:center;
opacity:70%;
  padding:10px;
}
#img-div {
  margin:10px;
  background-color:white;
}
#image{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  max-width:100%;
  height:auto;
}
#img-caption {
  text-align:center;
  padding:0px 0px 1px 0px;
}
#maintext {
  display:block;
margin-left:auto;
  margin-right:auto;
  width: 43em;
}
li {
  padding:10px;
}
h3{
  text-align:center;
  padding:30px;
}
#description {
  display:block;
margin-left:auto;
  margin-right:auto;
  width: 40em; 
  padding:10px;
}
#tribute-info {
  text-align:center;
  padding:15px;
  font-weight: 700;
}